input{
  width: 75%;

}
form{
  margin-left: 110px;
}
label{
  font-family: 'PT Serif', serif;
        font-size: 20px;
}
button{
  font-family: 'Playfair Display', serif;
}
input:focus-visible {
  outline: 3px solid #800080;
  border-radius: 3px;
}
button:focus-visible{
  outline: 3px solid rgb(253, 253, 253);

}
.head{
  font-family: 'Oswald', sans-serif;
}


  form label::before{
    content: "*";
    color: red;
    margin-right: 5px;
  }
